[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow-gpu = "*"
matplotlib = "*"
keras = "*"
numpy = "*"
tensorflow = "*"
pytest = "*"
ipykernel = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-argparse = "*"
pylint = "*"
git-pylint-commit-hook = "*"
pre-commit = "*"
tensorflowjs = "*"
flask-restful = "*"
flask-cors = "*"
pillow = "*"

[requires]
python_version = "3.7"
