button:focus{
  outline-width: 0;
}

.container-fluid{
}

#color-button-list-row{
}

#color-button-list-col{
  padding: 0;
}

#tool-button-list-col-1{
  background-color: lightcoral;
  padding-top: 0.5vw;
}

#tool-button-list-col-2{
  background-color: blue;
}

#convert-button-list-col{
  background-color: green;
  padding: 0.25vw;
}

#output-button-list-col{
  background-color: lightcoral;
  padding: 0.25vw;
}

#drawing-canvas-col{
  /* background-color: lightgreen; */
  padding: 0;
}

#layers-menu-col{
  background-color: rebeccapurple;
  padding: 0;
}

#output-canvas-col{
  background-color: saddlebrown;
}

