
.color-button-wrapper{
    border-style: solid;
    border-color: #1d2124;
    font-family: 'Righteous', cursive;
    display: flex;
    background-color: #343a40;
    margin-top: 0.25vw;
}

.color-button-wrapper:hover{
    background-color:  #1d2124;
}

.color-button{
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5vw;
}

.color-image{
    width: 2vw;
    margin-right: 1vw;
}
