#color-button-unordered-list{
    background-color: yellowgreen;
    border-style: solid;
    border-right: none;
    border-color: #1d2124;
    list-style-type: none;
    margin: 0;
    padding: 0.5vh;
    padding-top: 0.25vh;
}