.layer-button-wrapper{
    font-family: 'Righteous', cursive;
    display: flex;
    background-color: #343a40;
    margin-top: 0.25vw;
}

.hide-layer-button{
    width: 12.5%;
    text-align: center;
    color: white;
    border: none;
    vertical-align: middle;
}

.delete-layer-button{
    width: 12.5%;
    text-align: center;
    color: white;
    border: none;
    vertical-align: middle;
}

.up-layer-button{
    width: 12.5%;
    text-align: center;
    color: white;
    border: none;
    vertical-align: middle;
}

.down-layer-button{
    width: 12.5%;
    text-align: center;
    color: white;
    border: none;
    vertical-align: middle;
}

.layer-input-text{
    width: 50%;
    background-color: #292b2c;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.5vw;
    padding-right: 1vw;
    vertical-align: middle;
}

.hide-layer-icon{
    width: 1.5vw;
    vertical-align: middle;
}

.delete-layer-icon{
    width: 1.5vw;
    vertical-align: middle;
}

.up-layer-icon{
    width: 1.5vw;
    vertical-align: middle;
}

.down-layer-icon{
    width: 1.5vw;
    vertical-align: middle;
}