#color-button-list-row{
}

#color-button-list-col{
  padding: 0;
}

#tool-button-list-col{
  background-color: lightcoral;
  padding: 0.5vh;
}

#output-button-list-col{
  background-color: lightcoral;
  padding: 0.5vh;
  margin-top: 3vh;
}

#drawing-canvas-col{
  background-color: lightgreen;
  padding: 0;
}

#layers-menu-col{
  background-color: rebeccapurple;
  padding: 0;
}

#output-canvas-col{
  background-color: saddlebrown;
}