
#color-button-wrapper{
    font-family: 'Righteous', cursive;
    display: flex;
    background-color: #343a40;
    margin-top: 0.25vh;
}
#color-button{
    width: 80%;
    background-color: #292b2c;
    color: white;
    border: none;
    font-size: 1.5vw;
}

#color-image{
    width: 2vw;
}