@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#navbar{
    font-family: 'Righteous', cursive;
}

#navbar-logo-container{
    display: flex;
    align-items: center;
    color: white;
    font-size: 2vw;
}

#navbar-title{
    padding-left: 1vw;
}

#navbar-logo{
    width: 3vw;
}

#navbar-about, #navbar-create{
    font-size: 2vw;
}