#new-layer-form-background{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.85);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-layer-form{
  width: 30vw;
  height: 10vw;
  background-color: #343a40;
  font-family: 'Righteous', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1%;
}

#new-layer-input{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 1%;
}

#new-layer-input-text{
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-color: #292b2c;
    color: white;
    text-align: center;
    border-style: none;
    font-size: 1vw;
}

#new-layer-input-button{
    width: 20%;
    height: 50%;
    border-style: none;
    background-color: green;
    color: white;
    margin-left: 1vw;
    border-radius: 5%;
    font-size: 1vw;
}

#new-layer-input-button:focus{
    outline-width: 0;
}

#new-layer-input-button:active{
       background-color: #00bd00;
}

#new-layer-input-text:focus{
  outline-width: 0;
}

#new-layer-span{
  color: white;
  font-size: 2.5vw;
  margin: 0;
  padding: 0;
}

#exit-new-layer-button{
    width: 10%;
    height: 15%;
    border-style: none;
    background-color: #343a40;
    align-self: flex-end;
}

#exit-new-layer-icon{
    width: 100%;
    height: 100%;
}

#exit-new-layer-button:focus{
    outline-width: 0;
}